<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
</head>
<body>
<form action="/direct_update_employee" method="post">

    <label for="employee_name">Name</label>
    <input type="text" name="employee_name" id="employee_name">
    <label for="jobtitle">Job Title</label>
    <input type="text" name="jobtitle" id="jobtitle">
    <label for="employee_id"></label>
    <input type="number" name="employee_id" value="${employee_id}" id="employee_id" hidden>

    <button type="submit">Update</button>
</form>


</body>
</html>