<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Booking</title>
</head>
<body>

<div class="form-container">
    <form action="/create_booking" method="post">

        <label for="booked_at">Booked at</label>
        <input type="text" name="booked_at" id="booked_at">
        <label for="returned_at">Returned at</label>
        <input type="text" name="returned_at" id="returned_at">
        <label for="km_driven">KM driven</label>
        <input type="number" name="km_driven" id="km_driven">
        <label for="is_half_full">Half full</label>
        <input type="text" name="is_half_full" id="is_half_full">
        <label for="is_clean">Is clean</label>
        <input type="text" name="is_clean" id="is_clean">
        <label for="employee_id">Employee ID</label>
        <input type="text" name="employee_id" id="employee_id">
        <label for="customer_id">Customer ID</label>
        <input type="text" name="customer_id" id="customer_id">
        <label for="motorhome_id">Motorhome ID</label>
        <input type="text" name="motorhome_id" id="motorhome_id">
        <button type="submit">Create</button>

    </form>
</div>

</body>
</html>