<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml"> <!--minder om driver-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>FRONT PAGE</title>
</head>

<body>
    <nav>
    <a href="/get_all_motorhomes">Show Motorhomes</a>
    <a href="/get_all_employees">Show employees</a>
    <a href="/get_all_customers">Show customers</a>
    <a href="/get_all_bookings">Show bookings</a>
    <a href="/find_customer_by_id">Search customer</a>
    <a href="/find_motorhome_by_id">Search motorhome</a>
    <a href="/find_employee_by_id">Search employee</a>
    </nav>

    <h1>Forside </h1>

</body>
</html>
