<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml"> <!--minder om driver-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>FRONT PAGE</title>
</head>

<body>
    <nav>
    <a href="/get_all_motorhomes">Motorhomes</a>
    <a href="/get_all_employees">Employees</a>
    <a href="/get_all_customers">Customers</a>
    <a href="/get_all_bookings">Bookings</a>

    <a href="../static/Brugervejledning.pdf">Hent brugervejledning</a>
    </nav>

</body>
</html>
