<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer</title>
</head>
<body>
<form action="/deleteCustomer" method="post">

    <label for="customer_name">Name</label>
    <input type="text"  name="customer_name" id="customer_name">
    <label for="customer_phone_number">Phone</label>
    <input type="text"  name="customer_phone_number" id="customer_phone_number">
    <label for="customer_mail">Mail</label>
    <input type="text"  name="customer_mail" id="customer_mail">

    <label for="customer_id"></label>
    <input type="number" name="customer_id" value="${customer_id}" id="customer_id" hidden>

    <button type="submit">Delete</button>
</form>
</body>
</html>