<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/direct_update_customer" method="post">

    <label for="customer_name">Name</label>
    <input type="text" name="customer_name" id="customer_name">
    <label for="customer_mail">Mail</label>
    <input type="text" name="customer_mail" id="customer_mail">
    <label for="customer_phone">Phone</label>
    <input type="text" name="customer_phone" id="customer_phone">

    <label for="customer_id"></label>
    <input type="number" name="customer_id" value="${customer_id}" id="customer_id" hidden>

    <button type="submit">Update</button>
</form>


</body>
</html>