<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
<form action="/direct_update_customer" method="post">

    <label for="customer_name">Name</label>
    <input type="text" name="customer_name" id="customer_name" th:value="${customer.customer_name}">
    <label for="customer_phone_number">Phone</label>
    <input type="text" name="customer_phone_number" id="customer_phone_number" th:value="${customer.customer_phone_number}">
    <label for="customer_mail">Mail</label>
    <input type="text" name="customer_mail" id="customer_mail" th:value="${customer.customer_mail}">


    <label for="id"></label>
    <input type="number" name="id" th:value="${customer.id}" id="id" hidden>

    <button type="submit">Update</button>
</form>


</body>
</html>