<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>All motorhomes</title>

</head>
<body>
<nav>
    <a href="/get_all_motorhomes">Motorhomes</a>
    <a href="/get_all_employees">Employees</a>
    <a href="/get_all_customers">Customers</a>
    <a href="/get_all_bookings">Bookings</a>

    <a href="../static/Brugervejledning.pdf">Hent brugervejledning</a>
</nav>

<div>
    <table class="tableMenu">
        <thead>
        <tr>
            <th>ID</th>
            <th>Available</th>
            <th>Price per day</th>
            <th>Season</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Model</th>
            <th></th>
            <th></th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="motorhome: ${motorhome_list}" title="Click to View">
            <td th:text="${motorhome.id}"/>
            <td th:text="${motorhome.is_Available}? 'ja':'nej'"/>
            <td th:text="${motorhome.pricePerDay}"/>
            <td th:text="${motorhome.season}"/>
            <td th:text="${motorhome.size_category}"/>
            <td th:text="${motorhome.brand_name}"/>
            <td th:text="${motorhome.model_name}"/>
            <td>
                <a class="information button" th:href="@{'/find_motorhome_by_id/'+${motorhome.id}}">
                   Information
                </a>
            </td>
            <td>
                <a class="update button" th:href="@{'/update_motorhome/'+${motorhome.id}}">
                    Update
                </a>
            </td>
            <td>
                <a class="delete button" th:href="@{'/delete_motorhome/'+${motorhome.id}}">
                   Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="floating-action" th:href="@{'/create_motorhome/'}">
        +

    </a>

    </div>
</body>
</html>