<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update motorhome</title>
</head>
<body>
<form action="/direct_update_motorhome" method="post">

    <label for="is_available">Is it available?</label>
    <input type="text" name="is_available" id="is_available">
    <label for="price_per_day">Price per day</label>
    <input type="text" name="price_per_day" id="price_per_day">
    <label for="season">Season</label>
    <input type="season" name="season" id="season">
    <label for="size_category">Size categoryt</label>
    <input type="text" name="size_category" id="size_category">
    <label for="brand_name">Brand name</label>
    <input type="brand_name" name="brand_name" id="brand_name">
    <label for="model_name">Model name</label>
    <input type="model_name" name="model_name" id="model_name">

    <label for="motorhome_id"></label>
    <input type="number" name="motorhome_id" value="${motorhome_id}" id="motorhome_id" hidden>


    <button type="submit">Update</button>
</form>


</body>
</html>